.login {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: flex-end;
    justify-content: space-between;

    &__signup-btn {
        background: none;
        border: 1px solid #FF4910;
        color: #FF4910;
        padding: 4px 8px 4px 8px;
        border-radius: 3px;
        cursor: pointer;
        transition: all 0.1s ease-in-out;

        &:hover {
            background: #FF4910;
            color: white;
        }
    }

    &__logo {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            font-size: 44px;
            line-height: 60px;
            letter-spacing: 3px;
            padding: 0.6rem 0;
            font-weight: 700;
        }

        h3 {
            text-align: center;
            color: #FFBD21;
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 3px;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
    }
}   