.customButton {
    background: white;
    width: 100%;
    color: #15085F;
    border: 1px solid transparent;
    outline: none;
    padding: 1rem;
    border-radius: 4px;
    margin-top: 1.6rem;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                          supported by Chrome, Edge, Opera and Firefox */

    &:hover {
        background: #1f0d80;
        color: white;
        border: 1px solid white;
    }

    &:active {
        transform: scale(0.98);
    }
}